.example-spacer {
  flex: 1 1 auto;
}

.tool-bar {
  background-color: white;
  box-shadow: 1px 4px 11px -8px #4f4f4f;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin-right: 24px;

  &:hover {
    .sub-menu {
      display: block;
    }

    a {
      font-weight: 400;
    }

  }

  a {
    color: black;
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #fa7268;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



.sub-menu {
  padding: 15px 10px 10px 10px;
  position: absolute;
  display: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 4px 11px -8px #4f4f4f;
  z-index: 10;
  background-color: white;
}